parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: config/prezet.php

		-
			message: '#^Parameter \#1 \$width of function imagecreatetruecolor expects int\<1, max\>, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/GetImage.php

		-
			message: '#^Parameter \#2 \$height of function imagecreatetruecolor expects int\<1, max\>, \(float\|int\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/GetImage.php

		-
			message: '#^Method Prezet\\Prezet\\Actions\\ParseFrontmatter\:\:parseFrontmatter\(\) should return array\<string, mixed\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Actions/ParseFrontmatter.php

		-
			message: '#^Method Prezet\\Prezet\\Actions\\ParseMarkdown\:\:getExtensions\(\) should return array\<int, League\\CommonMark\\Extension\\ExtensionInterface\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Actions/ParseMarkdown.php

		-
			message: '#^Parameter \#1 \$config of class League\\CommonMark\\Environment\\Environment constructor expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/ParseMarkdown.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Actions/SetFrontmatter.php

		-
			message: '#^Parameter \#1 \$currentPaths of method Prezet\\Prezet\\Actions\\UpdateIndex\:\:removeDeletedDocuments\(\) expects array\<int, string\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/UpdateIndex.php

		-
			message: '#^Binary operation "\." between mixed and string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Actions/UpdateSitemap.php

		-
			message: '#^Instanceof between Prezet\\Prezet\\Models\\Document and Prezet\\Prezet\\Models\\Document will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Actions/UpdateSitemap.php

		-
			message: '#^Binary operation "\." between ''Bearer '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Commands/PurgeCacheCommand.php

		-
			message: '#^Binary operation "\." between ''https\://api…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Commands/PurgeCacheCommand.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Exceptions/InvalidConfigurationException.php

		-
			message: '#^Method Illuminate\\View\\Component@anonymous/src/Extensions/MarkdownBladeExtension\.php\:47\:\:render\(\) never returns Closure so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Extensions/MarkdownBladeExtension.php

		-
			message: '#^Method Illuminate\\View\\Component@anonymous/src/Extensions/MarkdownBladeExtension\.php\:47\:\:render\(\) never returns Illuminate\\Contracts\\Support\\Htmlable so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Extensions/MarkdownBladeExtension.php

		-
			message: '#^Method Illuminate\\View\\Component@anonymous/src/Extensions/MarkdownBladeExtension\.php\:47\:\:render\(\) never returns Illuminate\\Contracts\\View\\View so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Extensions/MarkdownBladeExtension.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Extensions/MarkdownImageExtension.php

		-
			message: '#^Parameter \#2 \$width of method Prezet\\Prezet\\Extensions\\MarkdownImageExtension\:\:generateImageUrl\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Extensions/MarkdownImageExtension.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<Prezet\\Prezet\\Models\\Heading\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Models/Document.php

		-
			message: '#^Method Prezet\\Prezet\\Models\\Document\:\:headings\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<Prezet\\Prezet\\Models\\Heading\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<Prezet\\Prezet\\Models\\Heading, \$this\(Prezet\\Prezet\\Models\\Document\)\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Document.php

		-
			message: '#^Method Prezet\\Prezet\\Models\\Document\:\:tags\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<Prezet\\Prezet\\Models\\Tag, Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<Prezet\\Prezet\\Models\\Tag, \$this\(Prezet\\Prezet\\Models\\Document\), Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Document.php

		-
			message: '#^PHPDoc tag @return contains generic type Prezet\\Prezet\\Database\\Factories\\DocumentFactory\<Prezet\\Prezet\\Models\\Document\> but class Prezet\\Prezet\\Database\\Factories\\DocumentFactory is not generic\.$#'
			identifier: generics.notGeneric
			count: 1
			path: src/Models/Document.php

		-
			message: '#^Type string in generic type Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<Prezet\\Prezet\\Models\\Tag, Illuminate\\Database\\Eloquent\\Relations\\Pivot, string\> in PHPDoc tag @return is not subtype of template type TPivotModel of Illuminate\\Database\\Eloquent\\Relations\\Pivot \= Illuminate\\Database\\Eloquent\\Relations\\Pivot of class Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Models/Document.php

		-
			message: '#^Method Prezet\\Prezet\\Models\\Heading\:\:document\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<Prezet\\Prezet\\Models\\Document, Prezet\\Prezet\\Models\\Heading\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<Prezet\\Prezet\\Models\\Document, \$this\(Prezet\\Prezet\\Models\\Heading\)\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Heading.php

		-
			message: '#^Method Prezet\\Prezet\\Models\\Heading\:\:url\(\) should return Illuminate\\Database\\Eloquent\\Casts\\Attribute\<string, never\> but returns Illuminate\\Database\\Eloquent\\Casts\\Attribute\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Heading.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Prezet\\Prezet\\Models\\Heading\:\:\$appends is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$appends\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/Heading.php

		-
			message: '#^Method Prezet\\Prezet\\Models\\Tag\:\:documents\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<Prezet\\Prezet\\Models\\Document, Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<Prezet\\Prezet\\Models\\Document, \$this\(Prezet\\Prezet\\Models\\Tag\), Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Tag.php

		-
			message: '#^Type string in generic type Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<Prezet\\Prezet\\Models\\Document, Illuminate\\Database\\Eloquent\\Relations\\Pivot, string\> in PHPDoc tag @return is not subtype of template type TPivotModel of Illuminate\\Database\\Eloquent\\Relations\\Pivot \= Illuminate\\Database\\Eloquent\\Relations\\Pivot of class Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Models/Tag.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Services/Seo.php

		-
			message: '#^Method Prezet\\Prezet\\Services\\Seo\:\:all\(\) should return array\<string, string\|null\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Services/Seo.php

		-
			message: '#^Method Prezet\\Prezet\\Services\\Seo\:\:getKeys\(\) should return array\<int, string\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Services/Seo.php

		-
			message: '#^Method Prezet\\Prezet\\Services\\Seo\:\:set\(\) should return array\<string, string\|null\>\|string\|null but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Services/Seo.php

		-
			message: '#^Parameter \#2 \$value of method Prezet\\Prezet\\Services\\Seo\:\:set\(\) expects Closure\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Seo.php

		-
			message: '#^Property Prezet\\Prezet\\Services\\Seo\:\:\$meta \(array\<string, mixed\>\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Services/Seo.php

		-
			message: '#^Right side of \|\| is always false\.$#'
			identifier: booleanOr.rightAlwaysFalse
			count: 1
			path: src/Services/Seo.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Services/Seo.php
