parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$currentSlugs of static method BenBjurstrom\\\\Prezet\\\\Actions\\\\UpdateIndex\\:\\:removeDeletedDocuments\\(\\) expects array\\<int, string\\>, array given\\.$#"
			count: 1
			path: src/Actions/UpdateIndex.php
